// Specific CSS for your home-page
#nooblink {
  color: black;
}

* {
  max-height: 100vh;
}

.row {
  justify-content: space-evenly;
  margin-top: 4rem;
}

.card {
  display:inline-block;
  margin-bottom: 1rem;
}
