<%= simple_form_for([car, booking]) do |f| %>
<%= f.input :start_date, label: 'What day would you like to rent the car?'%>
<%= f.input :end_date, label: 'When would you like to return the car?'%>
<div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
