<div class="container padding-top">
  <div class="row">
    <div class="col-12">
      <h1>Your Bookings Cars</h1>
    </div>
  </div>
  <div class = "row justify-content-start">
    <% @bookings.each do |booking| %>
      <% if booking.car.photo.attached? %>
        <% @url = cl_image_path(booking.car.photo.key, height: 300, crop: :scale) %>
      <% else %>
        <% @url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png' %>
      <% end %>
      <div class="col-sm-4">
        <div class="h-50">
          <div class="card" style = "max-width: 24rem;">
            <img class="card-img-top" src=<%= @url %> alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{booking.car.make}, #{booking.car.model}", booking_path(booking) %></h5>
              <p class="card-text"><%= "Car is yours from #{booking.start_date} until #{booking.end_date}"%></p>
            </div>
          </div>
        </div>
      </div>
      <%end %>
  </div>
