<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Your Bookings Cars</h1>
    </div>
  </div>
  <div class = "row">
    <% @bookings.each do |booking| %>
      <div class="col-sm-4">
        <div class="h-50">
          <div class="card" style = "max-width: 24rem;">
            <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{booking.car.make}, #{booking.car.model}", booking_path(booking) %></h5>
              <p class="card-text"><%= "Car is yours from #{booking.start_date} until #{booking.end_date}"%></p>
            </div>
          </div>
        </div>
      </div>
      <%end %>
  </div>
