<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');">
  <h1>Carental</h1>
  <p>The USA's Easiest Car Rental Service. (Ever)</p>
</div>

<div class="browse-heading">
  <h2>Browse Our Cars</h2>
</div>
