<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');">
  <h1>Carental</h1>
  <p>The USA's Easiest Car Rental Service. (Ever)</p>
</div>

<div class="browse-heading">
  <h2>Looking For Your Dream Rental? Or Maybe Looking To Make Some Money</h2>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.motor1.com/images/mgl/BjYyj/s1/loef-camper-van.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rent a Car</h5>
          <p class="card-text">Find the dream car for the dream roadtrip.</p>
          <a href="#"><%= link_to "Find Me a Car!", cars_path, class: "btn btn-primary" %></a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://thriftytraveler.com/wp-content/uploads/2018/05/why-kei-51455-unsplash-e1527681798897.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rent my Car</h5>
          <p class="card-text">Got an extra car lying around? Make some extra money on it today!</p>
          <a href="#"><%= link_to "List My Car!", new_car_path, class: "btn btn-primary" %></a>
        </div>
      </div>
    </div>
</div>
