.car_card {
  background-color: rgb(245,245,245);
  border: 2px solid rgba(180,180,180,0.9);
}

.overflow-scroll {
  overflow: scroll;
}

.card-container {
  // width: 463.954px;
  padding: 1.5189vw;
  // height: 409px;
  top: 0px;
}

.card {
  width: 463.954px;
  height: 409px;
  display: table-caption!important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
}

// .heading {
//   position: absolute;
//   top: 35%;
//   left: 45%;
//   transform: translate(-50%, -50%);
// }

.card-heading  {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.linebreak {
  width: 84px;
  background-color: #f74;
  margin: 20px auto;
  height: 1px;
  cursor: pointer;
}

.subheading {
  font-family: 'Roboto', sans-serif!important;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.subheading:hover {
  font-family: 'Roboto', sans-serif!important;
  color: white;
  text-decoration: none!important;
}

.card-img-top {
  background-size: cover;
  cursor: pointer;
  height: 300px;
}

.heading a {
  font-family: 'Roboto', sans-serif!important;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.car-info {
  font-family: 'Roboto', sans-serif!important;
  font-weight: 500;
  display: flex;
  text-align: center;
  padding: 1rem;
  justify-content: space-evenly;
  text-transform: capitalize;
  align-items: center;
  font-size: 1rem;
  margin-top: 20px;
}

.car-info .fas {
color: #2fb075;
font-size: 1.5rem;
}
