<div class=container>
<h1 class = "py-5">Your cars</h1>
  <%= link_to "Add a new car", new_car_path, class: "btn btn-primary" %>
      <div class="row justify-content-start">
        <%= render "cars", cars: @cars %>
      </div>
</div>
