<div class="tbanner" style="background-image: url('https://images.unsplash.com/photo-1471479917193-f00955256257?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80');">
  <h1>List Your Car!</h1>
</div>

<div class="listing-form-container">
  <%= render "form", car: @car %>
</div>
